.venv/*
*.png
*__pycache__*
figs/*
ds/*
dss/*
data/*
jobs/*.txt
tmp/*
test/*
*.mex*
net.pt
libtorch*
build/*
net_forward_standalone*
onnxruntime*
net.onnx
onnx_net_forward/*
.vscode/
*.DS_Store
raw_ds/*